.Location {
<<<<<<< HEAD
  text-align: center;
}

.map-style{
  display: block;
  margin-left: 0;
  transform: translateX(80px);
}

.dropDown-style{
  display: block;
  margin-left: 0;
  transform: translateX(-500px);
}

.dropDown-style1{
  display: block;
  margin-left: 0;
  transform: translateX(280px);
}

.spot-style{
  display: block;
  margin-left: 0;
  transform: translateX(400px) translateY(-700px);
  
}

.Location-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Location-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Location-header {
  background-color: #2ce679;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(62, 237, 39);
}

.Location-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
=======
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
>>>>>>> 2fedca6ff2f8f8eaf5c39a4b369069c90b658b63
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }